{% load i18n %}
{% autoescape off %}

{% blocktrans %}
您收到这封电子邮件是因为您在{{ site }}请求为帐户重置密码.
{% endblocktrans %}

{% trans "请点击以下网址设置新密码:" %}
{{ url }}/auth/reset-password/?uid={{ uid }}&token={{ token }}

{% blocktrans %}{{ site }} 团队{% endblocktrans %}

{% blocktrans %}
You're receiving this email because you requested a password reset for your account at {{ site }}.
{% endblocktrans %}

{% trans "Please visit the following url to set a new password:" %}
{{ url }}/auth/reset-password/?uid={{ uid }}&token={{ token }}

{% blocktrans %}The {{ site }} team {% endblocktrans %}

{% blocktrans %}
친애하는 {{ site }} 회원 여러분,
이 이메일을 받으신 이유는 {{ site }}에서 계정의 비밀번호 재설정을 요청하셨기 때문입니다.
{% endblocktrans %}

{% trans "새로운 비밀번호를 설정하시려면 아래의 링크를 방문해주세요:" %}
{{ url }}/auth/reset-password/?uid={{ uid }}&token={{ token }}

{% blocktrans %}{{ site }} 팀 일동{% endblocktrans %}

{% blocktrans %}
親愛なる{{ site }}のメンバーの皆様へ
このメールは、{{ site }}においてアカウントのパスワードリセットをリクエストされたことをお知らせするためにお送りしています。
{% endblocktrans %}

{% trans "新しいパスワードを設定するために、以下のURLにアクセスしてください。" %}
{{ url }}/auth/reset-password/?uid={{ uid }}&token={{ token }}

{% blocktrans %}{{ site }}チームより{% endblocktrans %}

{% endautoescape %}